<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit"/><!-- 让360浏览器默认选择webkit内核 -->

        <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="/static/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
        <link href="/static/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
        <link href="/static/admin/css/style.css" rel="stylesheet">
        <link href="/static/admin/css/report.css" rel="stylesheet">
        <link href="/static/layui/css/layui.css" rel="stylesheet">
        <link href="/static/admin/css/plugins/webuploader/webuploader.css" rel="stylesheet">
        <link href="/static/admin/css/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet">
        <script src="/static/admin/js/common.js"></script>
        <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
        <script src="/static/admin/js/bootstrap.min.js?v=3.3.7"></script>
        <script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
        <script src="/static/admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <script src="/static/admin/js/common/ajax-object.js?v=<?php echo rand(1000,9999)?>"></script>
        <script src="/static/admin/js/common/bootstrap-table-object.js"></script>
        <script src="/static/admin/js/plugins/validate/bootstrapValidator.min.js"></script>
        <script src="/static/admin/js/plugins/validate/zh_CN.js"></script>
        <script src="/static/admin/js/plugins/layer/layer.min.js"></script>
        <script src="/static/admin/js/plugins/layer/laydate/laydate.js"></script>
        <link href="/static/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
        <script src="/static/admin/js/plugins/webuploader/webuploader.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="/static/admin/js/ueditor/ueditor.all.min.js"> </script>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/plugins/markdown/bootstrap-markdown.min.css" />
        <link href='/static/admin/css/plugins/chosen/chosen.min.css' rel='stylesheet'/>
        <script src='/static/admin/js/plugins/chosen/chosen.jquery.js'></script>
        <script src='/static/admin/js/plugins/bootstrap-select/bootstrap-select.js'></script>
        <script type="text/javascript" src="/static/admin/js/plugins/markdown/markdown.js"></script>
        <script type="text/javascript" src="/static/admin/js/plugins/markdown/to-markdown.js"></script>
        <script type="text/javascript" src="/static/admin/js/plugins/markdown/bootstrap-markdown.js"></script>
        <script type="text/javascript" src="/static/admin/js/plugins/markdown/bootstrap-markdown.zh.js"></script>
        <link rel='stylesheet' href='/static/admin/js/plugins/tagsinput/tagsinput.css'>
        <script type='text/javascript' src='/static/admin/js/plugins/tagsinput/tagsinput.min.js'></script>
    </head>
    <body class="">
        <div class="wrapper wrapper-content animated fadeIn">

            <script src="/static/admin/js/upload.js" charset="utf-8"></script>
            <script src="/static/layui/layui.js?t=1498856285724" charset="utf-8"></script>
            {block name="content"}{/block}
        </div>
        <!-- 自定义js -->
        <script src="/static/admin/js/content.js?v=1.0.0"></script>
        {block name="script"}{/block}
        <script>$(function(){$('.chosen').chosen({search_contains: true})})</script>
    </body>
</html>
